version: '3.8'
services:
  flutter_modules:
    build:
      context: .
      dockerfile: flutter_modules/Dockerfile
    volumes:
      # Dart files
      - ../.fvm/fvm_config.json:/workspace/flutter_modules/.fvm/fvm_config.json:cached
      - ../packages:/workspace/flutter_modules/packages:cached
      - ../mason-lock.json:/workspace/flutter_modules/mason-lock.json:cached
      - ../mason.yaml:/workspace/flutter_modules/mason.yaml:cached
      - ../analysis_options.yaml:/workspace/flutter_modules/analysis_options.yaml:cached
      - ../all_lint_rules.yaml:/workspace/flutter_modules/all_lint_rules.yaml:cached
      - ../melos.yaml:/workspace/flutter_modules/melos.yaml:cached
      - ../pubspec.lock:/workspace/flutter_modules/pubspec.lock:cached
      - ../pubspec.yaml:/workspace/flutter_modules/pubspec.yaml:cached
      # VSCode settings
      - ../.vscode:/workspace/.vscode:cached
      # Git
      - ../.git:/workspace/flutter_modules/.git:cached
      - ../.gitignore:/workspace/flutter_modules/.gitignore:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    env_file:
      - flutter_modules/.flutter.env
